.header__logo {
  margin-bottom: 42px;
  display: block;
  width: 142px;
  height: 33px;
  background-image: url("../../../images/mesto-logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
